@font-face { font-family: 'AtariST8x16'; src: url('rsc/AtariST8x16SystemFont.ttf');}
* { user-select: none;  box-sizing: border-box; margin: 0; padding: 0; }

canvas { display: flex; }

html, body
{
  background-color: #222;
  width:100%; height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

