@font-face { font-family: 'AtariST8x16'; src: url('rsc/AtariST8x16SystemFont.ttf'); }
* { user-select: none;  box-sizing: border-box;}
ul{ text-align: justify; line-height: 2.5em; color: #015BBB; }
li { line-height: 1.5em; color: #FED500;}
h2 { color : darkgoldenrod; }
html, body
{
  background-color: #222;
  margin: 0;padding: 0;
  font: 1em 'AtariST8x16';
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  width:100vw;
  height: 100vh;
}

#mainCanvas { border: 1px solid darkgoldenrod; }

#desc
{
  width:auto;
  max-width:800px;
  text-align: center;
  margin: 0.5em;
}

